<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><TITLE>@CHANGE_ME@</TITLE></HEAD>
<BODY>
	@CHANGE_ME@ - Donner une description.
	<h2>Introduction</h2>
	Décrire ici les objectifs du batch.
	<p></p>

	<h2>Synopsis</h2>
	Décrire les étapes du batch.
	<br> Example:
	<ol>
		<li>Etape d'initialisation</li>
		<li>Travail sur les enregistrements</li>
		<li>Libération des ressources</li>
		<li>...</li>
	</ol>
	<h2>Support</h2>
	<p>Indiquer les contacts pour le support...</p>

	<h2>Historique</h2>
	Insérer l'historique des versions significatives...

	<table width="100%" border="1" cellspacing="0" cellpadding="3">
		<tbody>
			<tr bgcolor="#CCCCFF" class="TableHeadingColor">
				<th align="left"><b>Version</b></th>
				<th align="left"><b>Date</b></th>
				<th align="left"><b>Commentaires</b></th>
			</tr>
			<tr bgcolor="white" class="TableRowColor">
				<td><code>1.0 </code></td>
				<td><code> </code></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<br>
</BODY>
</HTML>